[submodule "awesome/--force"]
	path = awesome/--force
	url = https://github.com/streetturtle/awesome-wm-widgets.git
[submodule "awesome/awesome-wm-widgets"]
	path = awesome/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets.git
[submodule "awesome/awesome-buttons"]
	path = awesome/awesome-buttons
	url = https://github.com/streetturtle/awesome-buttons.git
