configuration {
	modi: "window,windowcd,run,ssh,drun,combi,keys,file-browser";
	combi-modi:  "window,windowcd,run,ssh,drun,keys,file-browser";
	theme: "dracula";
	kb-row-up: "Control+k,Up";
	kb-row-down: "Control+j,Down";
	kb-accept-entry: "Return";
	kb-remove-to-eol: "";
}
